
$txt-tile: #1b202a;
$txt-akcent-l:#00eaff;
$txt-akcent-d:#f9ea23;
$btn-color: #ff702a;
$txt-black: #222;
$txt-white: #fff;

@mixin acrom($width, $size, $color) {
  font-family: 'acrom', sans-serif;
  font-weight: $width;
  font-size: $size;
  color: $color;
}
@mixin monts($size, $color) {
  font-family: 'montserrat', sans-serif;
  font-weight: bold;
  font-size: $size;
  color: $color;
}

h2 { 
font-family: "Acrom", sans-serif;
font-weight: bold; 
font-size: 48px; 
color: $txt-white;
}
